body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
}

.heroo {
  margin-top: 6em;
  overflow-x: hidden;
  transition: 1s;
}

.flex {
  display: flex;
}

.role {
  color: #2d2e32;
  font-size: 3.4em;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.socials {
  text-decoration: none;
  color: black;
}
.socials:hover {
  color: lightseagreen;
}

.hero--description {
  width: 50%;
  margin: auto;
  margin-left: 11em;
}

.hero--img {
  background-image: url(hero.jpg);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  width: 23em;
  height: 27em;
  margin-right: 7em;
  margin-top: 3em;
  border: 3px solid black;
  background-position: bottom;
  animation: morphing 8s infinite;
  transition: 1s;
}
@keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
  }
}

.personal--info {
  max-width: 77%;
  font-family: "Mulish", sans-serif;
  color: #555;
  font-size: 1.1rem;
  margin-bottom: 2em;
}

.tech {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  font-size: 1.2em;
  margin-bottom: 5em;
  flex-wrap: wrap;
}

.mr {
  margin-right: 20px;
  color: #555;
}

.stack {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  border-radius: 50px;
  padding: 10px;
  margin-right: 1em;
  transition: 0.5s;
}
.stack:hover {
  box-shadow: 1px -1px 13px 1px lightseagreen;
}

@media all and (max-width: 900px) {
  .role {
    font-size: 2.4em;
  }
  .navbar {
    margin-bottom: 4em;
  }
  .col {
    flex-direction: column-reverse;
  }
  .hero--img,
  .hero--description {
    margin: auto;
  }
  .hero--img {
    margin-top: 2em;
  }
  .flexx {
    display: flex;
  }
  .hero--description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .personal--info {
    max-width: 100%;
    text-align: center;
  }
  .role {
    text-align: center;
  }
  .imagess {
    display: flex;
    flex-wrap: wrap;
  }
  .rotate {
    display: none;
  }
}

.btnss {
  display: flex;
}

@media all and (max-width: 470px) {
  .tech {
    flex-direction: column;
  }
  .stack {
    margin-bottom: 1em;
  }
  .imagess {
    justify-content: center;
  }
  .hero--img {
    max-height: 20em;
    max-width: 18em;
    background-position: top;
  }
}
